/* Please Make only Rhino and Zebra Blue */
#rhino,
#zebra {
  color: blue;
}
/* Please Make only Hufflepuff Gold */
.harryPotter.triWizardChamp.badger {
  color: gold;
}
/* Please select Duck with the highest level of specificity possible */
article.areDucksDinosaurs > h2.likesToQuack.fight1Or100 {
  color: rgb(180, 90, 30);
}
/* Please select Rhino with the highest level of specificity possible */
.top #rhino {
  color: aqua !important;
}
